<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="propositions">
            <h2><span>Propositions</span> {{propositions.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Votes Pour</span></dt>
                <dd>
                    <span>{{propositions.votesPour}}</span>
                </dd>
                <dt><span>Date Creation</span></dt>
                <dd>
                    <span>{{propositions.dateCreation}}</span>
                </dd>
                <dt><span>Contenu</span></dt>
                <dd>
                    <span>{{propositions.contenu}}</span>
                </dd>
                <dt><span>Archive</span></dt>
                <dd>
                    <span>{{propositions.archive}}</span>
                </dd>
                <dt><span>Message Justificatif</span></dt>
                <dd>
                    <span>{{propositions.messageJustificatif}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{propositions.user?.login}}
                </dd>
                <dt><span>Sujets</span></dt>
                <dd>
                    <div *ngIf="propositions.sujets">
                        <a [routerLink]="['/sujets', propositions.sujets?.id, 'view']">{{propositions.sujets?.titre}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/propositions', propositions.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
