<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sujets-heading">Create or edit a Sujets</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_titre">Titre</label>
                    <input type="text" class="form-control" name="titre" id="field_titre"
                           formControlName="titre"/>
                    <div *ngIf="editForm.get('titre').invalid && (editForm.get('titre').dirty || editForm.get('titre').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titre').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_statut">Statut</label>
                    <select class="form-control" name="statut" formControlName="statut" id="field_statut">
                        <option value="Elaboration">Elaboration</option>
                        <option value="Consultation">Consultation</option>
                        <option value="Fermeture">Fermeture</option>
                    </select>
                    <div *ngIf="editForm.get('statut').invalid && (editForm.get('statut').dirty || editForm.get('statut').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('statut').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateCreation">Date Creation</label>
                    <div class="input-group">
                        <input id="field_dateCreation" type="text" class="form-control" name="dateCreation" ngbDatepicker  #dateCreationDp="ngbDatepicker" formControlName="dateCreation"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCreationDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateCreation').invalid && (editForm.get('dateCreation').dirty || editForm.get('dateCreation').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateCreation').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateFermetureAuto">Date Fermeture Auto</label>
                    <div class="input-group">
                        <input id="field_dateFermetureAuto" type="text" class="form-control" name="dateFermetureAuto" ngbDatepicker  #dateFermetureAutoDp="ngbDatepicker" formControlName="dateFermetureAuto"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFermetureAutoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
